<div class="grid-x grid-margin-x">
  <div class="cell lare-12">
    <h3>Добавление соискателя</h3>
  </div>
</div>

<%= render('_job_seeker_form', locals: {form_type: "Добавить",
                                        back_location: "/labor_exchange/job_seekers"}) %>